body {
    font-family: 'Baloo Bhai', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('../img/metal-dumbbell-gym-background-d-rendering-78457398.jpg');
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-size: 100% 100%;
}

.header {
    display: inline-block;
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0px;
    /* border: 2px solid red; */
    padding: 29px;
    background-color: black;
    /* position: stick; */
}

.left {
    /* border: 2px solid rgb(143, 117, 117); */
    display: inline-block;
    position: absolute;
    top: 11px;
    left: 34px;
}

.left img {
    width: 86px;
}

.left div {
    /* width: 111px; */
    font-size: 13px;
}

.mid {
    /* border: 2px solid green; */
    display: block;
    margin: 0px auto;
    width: 45%;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    text-decoration: none;
    font-size: 23px;
    color: white;
    padding: 23px 23px;
}

.right {
    /* border: 2px solid blue; */
    display: inline-block;
    position: absolute;
    top: 39px;
    right: 60px;
}

.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 0px 9px;
    background-color: black;
    color: white;
    /* padding: 4px 14px; */
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 19px;
    cursor: pointer;
}

.container {
    border: 2px solid white;
    margin: 106px 80px;
    padding: 75px;
    /* width: 33%; */
    border-radius: 28px;
}

.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block;
    width: 35%;
    margin: 20px auto;
}